.menu {
    min-height: calc(100vh - 8vh);
    display: flex;
    padding: 60px;
    flex-direction: column;
    font-family: 'Quicksand';
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
    gap: 60px;
}

.menu h1 {
    font-size: clamp(6rem, 10vw, 10rem);
}

.menu h3 {
    font-size: clamp(1.8rem, 3vw, 3rem);
}

.menu div {
    position: relative;
}

.menu div .img-odd {
    opacity: 0;
    position: absolute;
    min-width: 200px;
    left: -20rem;
    top: -80px;
    transition: opacity 0.5s ease-in-out;
}

.menu div .img-even {
    opacity: 0;
    position: absolute;
    min-width: 200px;
    right: -20rem;
    top: -80px;
    transition: opacity 0.3s ease-in-out;
}

.menu div:hover img {
    opacity: 1;
}

.menu ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.menu ul li {
    font-size: clamp(1rem, 1.4vw, 1.5rem);
}